@{
    ViewBag.Title = "Главная";
}

<h1>Добро пожаловать на сайт вечеринок!</h1>
@Html.ActionLink("Участники", "Participants", "Party")
<br />
<br />
@Html.ActionLink("Голосование", "Vote", "Party")


